@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

.card {
  /* padding: 12px 24px; */
  /* background-color: black; */
  /* color: white; */
  /* border-radius: 7px; */
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1), spin 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}

/* .icon {
} */

@keyframes pulse {
  to {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
